html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: #FAFBFC;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #183153;
  text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.list-books-title h1 {
  font-weight: 800;
  margin: 0;
  color: #F8F9FA;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 3px solid rgba(248, 249, 250, 0.1);
  font-weight: 800;
  color: #001C40
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('./icons/plus-solid.svg');
  background-color: #FFD43B;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: #f2b900;
  cursor: pointer;
}


/* search page */

.search-books-bar {
  position: relative;
  min-width: 100px;
  z-index: 5;
  display: flex;
}

.search-books-input-wrapper {
  flex: 1;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.search-books-bar input:hover, .search-books-bar input:focus {
  border: 1.5px solid #FFD43B;
  background-color: white;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-circle-left-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFD43B;
  font-size: 0;
  border-radius: 100%;
  outline: none;
}

.close-search:hover {
  background-color: #f2b900;
  cursor: pointer;
}

.search-books-results {
  padding: 40px 10px 20px;
}

.error-message { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  align-items: center;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
  color: #F8F9FA; 
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('./icons/chevron-circle-down-solid.svg');
  background-color: #FFD43B;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all .2s ease-in-out;
}

.book-shelf-changer:hover {
  transform: scale(1.1);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  background-color: #F1F3F5;
  color: #183153;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer option:hover {
  background-color: #eee;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
